%ul.breadcrumb
  %li
    %a{:href => url("/users")} Users
  %li
    %a{:href => url("/users/#{@user['Id']}")}= @user['Email']
  %li Payouts
  %li ##{@payout['Id']}

.page-header
  %h1 
    Payout
    %small ##{@payout['Id']} (#{@user['Email']})

%pre
  = preserve do
    = JSON.pretty_generate(@payout)