.page-header
  %h1.pull-left Users (#{@users.length})

  .pull-right
    %form#user_search.form-inline
      .form-group
        %input.form-control{type: 'text', id: 'user_id', placeholder: 'User ID'}
      %button.btn.btn-small.btn-primary
        Go! 
  .clearfix

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Email
        %th Tag
        %th Date Added
        %th PersonType
    %tbody
      - unless @users.empty?
        - @users.each do |user|
          %tr.directory
            %td
              %a{:href => url("/users/#{user['Id']}")}= user['Id']
            %td= user['Email']
            %td= user['Tag']
            %td= Time.at user['CreationDate'].to_i
            %td= user['PersonType']


%ul.pagination
  - (1..@pagination["total_pages"]).each do |page|
    %li{class: ('active' if @current_page == page)}
      %a{href: "?page=#{page}"}= page