%ul.breadcrumb
  %li
    %a{:href => url("/users")} Users
  %li.active #{@user['Email']} (##{@user['Id']})
  

.page-header
  %h1
    = @user['FirstName']
    = @user['LastName']
    %small
      = @user['Email']


%ul
  %li
    %strong> Address
    \:
    \#{@user['Address']}
  %li
    %strong> Nationality
    \:
    \#{@user['Nationality']}
  %li
    %strong> Birthday
    \:
    - unless @user['Birthday'].nil?
      = Time.at(@user['Birthday']).strftime("%d/%m/%Y") 
  %li
    %strong> Tag
    \:
    \#{@user['Tag']}

%hr

%h3 
  Transactions
  %small (#{@pagination["total_items"]})
= haml :'resources/transactions/_transactions'

%hr


%h3 Wallets
- if @wallets.empty?
  %p.text-muted There aren't any walelts for this user
- else
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Balance
          %th CreationDate
          %th Tag
      %tbody
        - @wallets.each do |wallet|
          %tr.directory
            %td
              %a{:href => "wallets/#{wallet['Id']}"}= wallet['Id']
            %td
              = wallet['Balance']['Amount'] / 100.to_f
              = wallet['Balance']['Currency']
            %td= Time.at(wallet['CreationDate']).strftime("%d/%m/%Y %T")
            %td= wallet['Tag']
%hr

%h3 Cards
- if @cards.empty?
  %p.text-muted There aren't any credit cards for this user

- else
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Alias
          %th CardType
          %th ExpirationDate
          %th Validity
      %tbody
        - @cards.each do |card|
          %tr.directory
            %td
              %a{:href => "cards/#{card['Id']}"}= card['Id']
            %td= card['Alias']
            %td= card['CardType']
            %td= card['ExpirationDate']
            %td= card['Validity']

%hr

%h3 Bank Accounts
- if @bank_accounts.empty?
  %p.text-muted There aren't any bank accounts for this user
- else 
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
      %tbody
        - @bank_accounts.each do |bank_account|
          %tr.directory
            %td= bank_account['Id']
