.page-header
  %h1 Events (#{@events.length})

- if @events.empty?
  %p.text-muted There are no events yet.

- else
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th ResourceId
          %th Type
          %th Date
      %tbody
        - @events.each do |event|
          %tr.directory
            %td
              - if event['EventType'].include? 'PAYOUT'
                %a{href: url("/payouts/#{event['ResourceId']}")}
                  = event['ResourceId']  
              - elsif event['EventType'].include? 'PAYIN_NORMAL'
                %a{href: url("/payins/#{event['ResourceId']}")}
                  = event['ResourceId']  
              - elsif event['EventType'].include? 'PAYIN_REFUND'
                %a{href: url("/refunds/#{event['ResourceId']}")}
                  = event['ResourceId']  
              - elsif event['EventType'].include? 'TRANSFER'
                %a{href: url("/transfers/#{event['ResourceId']}")}
                  = event['ResourceId']  
              - else
                = event['ResourceId']
            %td= event['EventType']
            %td= Time.at(event['Date'].to_i).strftime("%d/%m/%Y %T")


%ul.pager
  - unless @current_page == 1
    %li.previous
      %a{href: "?page=#{@current_page - 1}"} « Previous
  - if @events.any?
    %li.next
      %a{href: "?page=#{@current_page + 1}"} Next »
